streamlit
openai
llama-cpp-python
langchain
langgraph
chromadb
instructor
pypdf
unstructured
netmiko
python-dotenv
langchain-community
instructor
llama-cpp-python --prefer-binary
langgraph
sentence-transformers
chromadb

